* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("assets/pexels-elia-clerici-2004630.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

main {
    background-color: rgb(245, 212, 229, 0.95);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-radius: 5px;
    padding: 2em;
    width: 45%;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 16px;
}

#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
}

#weather-search {
    display: flex;
    width: 50%;
    gap: 4px;
}

#weather-data {
    display: none;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 1.5em;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    gap: 12px;
}

#weather-data>img {
    border-radius: 50%;
    background-color: lightskyblue;
}

#search {
    border-radius: 5px 0 0 5px;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 50px;
    border: none;
}

#submit {
    border-radius: 0 5px 5px 0;
    padding: 8px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #6C757D;
    border-radius: 5px;
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

